In [6]:
from ipynb.fs.full.emissions_analysis import main_df

In [7]:
main_df

          Country  Year  ...  Average Temperature Â°C  rice_yield
0     Afghanistan  1990  ...                0.536167      1.9029
1     Afghanistan  1991  ...                0.020667      1.9364
2     Afghanistan  1992  ...               -0.259583      1.7143
3     Afghanistan  1993  ...                0.101917      1.7143
4     Afghanistan  1994  ...                0.372250      1.9000
...           ...   ...  ...                     ...         ...
6960     Zimbabwe  2016  ...                1.120250      0.3428
6961     Zimbabwe  2017  ...                0.046500      0.3745
6962     Zimbabwe  2018  ...                0.516333      0.3983
6963     Zimbabwe  2019  ...                0.985667      0.4484
6964     Zimbabwe  2020  ...                0.189000      0.5951

[6965 rows x 32 columns]